/* Basic Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #ca7dba;
    background-color: #ffffff;
    line-height: 1.6;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 5px;
}

.menu-bar {
    background-color: #623c58;
    height: 3px;
    width: 100%;
}

/* Navigation Styles */
.nav-menu ul {
    list-style: none;
    padding: 0;
    display: none;
    position: fixed;
    background-color: #623c58;
    right: 20px;
    top: 60px;
    width: auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-menu ul.open {
    display: block;
}

.nav-menu ul li {
    display: block;
    margin: 0;
    padding: 10px 15px;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: #d20c58;
}

/* Full Screen Section Styles */
.full-screen-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

/* Welcome Section with Animation */
#welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #4a18a1;
    animation: colorShiftAnimation 10s infinite alternate;
}

@keyframes colorShiftAnimation {
    0%, 100% { background-color: #4a18a1; }
    50% { background-color: #fbc2eb; }
}

.welcome-content h1 {
    font-size: 3em;
    color: #000000;
}

/* About Me Section Styles*/
.bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.bio-header {
    text-align: center;
    color: #ca7dba;
    font-size: 2em;
    margin-bottom: 20px;
}

.bio-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
}

.bio-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bio-image img {
    width: 100%;
    height: auto;
}

.bio-text {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ca7dba;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Project Section Styles */
.projects-container {
    text-align: center;
    padding: 2em 0;
}

.projects-title {
    font-size: 2.5em;
    color: #ca7dba;
    margin-bottom: 20px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    background-color: #ffffff;
    border: 5px solid #ca7dba;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.project:hover {
    transform: translateY(-5px);
}

/* Footer Styles */
footer {
    background-color: #623c58;
    color: #ffffff;
    text-align: center;
    padding: 0.5em 0;
    font-size: 0.9em;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .bio-container, .bio-image, .bio-content {
        width: auto;
        height: auto;
        margin-bottom: 20px;
    }

    .nav-menu ul {
        right: 0;
        top: 55px;
        width: 100%;
    }
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #404040;
    color: #ca7dba;
}

header.dark-mode, footer.dark-mode {
    background-color: #ca7dba;
}

.dark-mode .bio-container, .dark-mode .project {
    background-color: #333; /* Dark grey background for dark mode */
    color: #ca7dba;
}

.dark-mode .bio-text {
    background-color: #333; /* Same grey as project boxes */
    color: #fff; /* Ensure text is visible in dark mode */
}
